name: CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  docker-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t zuleyha34/sis-project-app:latest .

      - name: Push Docker image
        run: |
          docker push zuleyha34/sis-project-app:latest
